.header{
  height: 48px;
  background: #56afc1;
  vertical-align: center;
  box-shadow: 0 3px 5px 0.3px #77777738;
  position: relative;
}
.header__title{
  color: #ffffff;
  font-size: 36px;
  margin-left: 5%;
}
